h3 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 2rem;
  font-weight: bolder;
}
p {
  
  font-size: 1rem;
  color: #8f8f8f;
  font-weight: bold;
}
.otraclass {
  padding: 30px;
}
.section {
  background-color: #ff4c68;
  padding-left: 122px;
  margin: 0;
}
.icon {
  padding: 2rem;
  font-size: 2.5rem;
  color: #ff4c68;
}
.icon:hover {
  color: #ff5d77;
}
.feature-box {
  text-align: center;
  padding: 4%;
}
#features {
  background-color: whitesmoke;
  color: #ff4c68;
  
  position: relative;
  z-index: 1;
}
